<!DOCTYPE html>
<html>
<head>

<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Bài tập Làm form đăng nhập usser</h1>
	
	<form action="register" method="post">
	<label for="ho"> Họ của bạn: </label><br/>
	<input type="text" name="fname"><br/>
	
	<label for="ten"> Tên của bạn: </label><br/>
	<input type="text" name="lname"><br/>
	
	<label for="email"> Email: </label><br/>
	<input type="email" name="email"><br/>
	
	<label for="dob"> ngày sinh : </label><br/>
	<input type="date" name="dob"><br/>
	
	<label for="password"> Password : </label><br/>
	<input type="password" name="password"><br/>
	
	<label for="gender"> giới tính : </label><br/>
	<select name="gender">
		<option value=" "></option>
		<option value="male">trai</option>
		<option value="female">gai</option>
	</select>
	<br/>
	<button type="submit">Submit</button>
	</form>
</body>
</html>