<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>3 Ảnh Trường NTU </title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand" href="index">Trang chủ</a>
  <a class="navbar-brand" href="ThongTin">Thông Tin</a>
  <a class="navbar-brand" href="Anh">Ảnh NTU</a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
<h1>anh</h1>
</body>
</html>